/* SIGN IN STYLES */
#admin-login {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#email, #password {
    text-align: center;
    padding: 5px;
}

#email {
    margin-left: 2em;
}

#error-msg {
    color: red;
    text-align: center;
    margin-top: 1em;
}