/* ALL PRINTS STYLES */
#prints-container {
    margin: 2em 3em;
    height: 55vh;
    padding: 2em;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2em;
}

#print-count {
    color: white;
    margin: 0 3em;
}

#no-prints-message {
    color: white;
    text-align: center;
}


/* CARD STYLES */
.card {
    width: 35em;
    height: 22em;
    padding: 15px;
}

.img-name-catalog {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.header-left {
    display: flex;
    justify-content: left;
    gap: 1em;
}

.control-buttons {
    display: flex;
    gap: 1em;
}

.data {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
    height: 25vh;
    overflow-y: auto;
    padding: 1em 0.5em;
    font-size: 14pt;
}

.data b {
    font-size: 13pt;
}

.data .right-side {
    max-width: 55%;
}

.data .left-side {
    width: 40%;
}

.thumbnail img {
    max-height: 7em;
    max-width: 6em;
}

#delete-img {
    height: 10em;
}
